@media (max-width: 991px) {
    #navigation label {
        display: block;
        text-align: right;
    }

    #navigation ul li,
    #navigation label {
        padding: 5px 5px;
        float: right;
        margin-top: 30px;
    }

    #navigation ul {
        display: none;
    }

    #navigation input:checked + ul,
    #navigation ul li {
        display: block;
    }
    
    #navigation input:checked + ul li a {
        color: #262a34;
    }
    
    #navigation input:checked + ul li a:hover {
        color: #f9f9f9;
    }
    
    #slide1 .second .phone,
    #slide3 .phone {
        display: none;
    }
    
    #slide1 {
        text-align: right;
    }
    
    #slide1 .second .second-content {
        padding-top: inherit;
    }
    
    #slide3 .slide3-element {
        transform: inherit;
    }
    
    #slide3 .slide3-element h1 {
        padding-top: 10vh;
    }
    
    #slide3 blockquote {
        background-image: none;
        background-color: #fff;
        width: 80%;
        height: auto;
        padding: 0 20px 0 20px;
        margin-top: 10vh;
        font-style: italic;
    }
    
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: right;
    }
}