* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
.slide1 .first .navigation a,
.slide1 .second .second-content span {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 200%;
}

/* fonts colors start */
h1,
.slide1 .first .navigation ul li a,
.slide1 .second .second-content span {
    font-weight: 700;
}

.slide1 .second .second-content span {
    font-style: italic;
}

.slide1 .second .second-content h1,
.slide3 p,
footer {
    color: #3c3d41;
}

.slide3 p span,
footer a {
    color: #41e0d8;
}
/* fonts colors end */


/* bacgrounds start */
.slide1,
.slide2,
.slide3 {
    height: 100vh;
    width: 100%;
}

.slide1 {
    background-image: linear-gradient(120deg, #f9f9f9 40%, #41e0d8 40%);
    padding-top: 20px;
}

.slide2 {
    background-image: linear-gradient(60deg, #262a34 65%, #f9f9f9 35%);
    z-index: 3;
}

.slide3 {
    background-image: linear-gradient(60deg, #f9f9f9 40%, #41e0d8 40%);
}

.slide4 {
    background-color: #262a34;
}

.slide5 {
    background-color: #f9f9f9;
}
/* bacgrounds end */

/* slide1 start */
.slide1 .first .navigation ul li {
    display: inline-block;
    padding: 15px 40px;
    float: right;
    margin-top: 30px;
}

.slide1 .first .navigation ul li:hover {
    background-color: #262a34;
}

.slide1 .first .navigation ul li:hover a {
    text-decoration: none;
}

.slide1 .second .second-content {
    transform: translateY(25%);
}

.slide1 .second .second-content {
    transform: translateY(100px);
    z-index: 1;
}

.slide1 .second .second-content p {
    padding-top: 40px;
}
/* slide1 end */

/* slide2 start */
/* slide2 end */

/* slide3 start */
/* slide3 end */

/* slide3 start */
/* slide3 end */