* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
#navigation ul li a,
#navigation ul li a:visited,
.slide1 .second .second-content span {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 200%;
    min-width: 635px;
}

p {
    padding-top: 40px;
}

/* fonts colors start */

h1,
#navigation ul li a,
#navigation label,
.slide1 .second .second-content span {
    font-weight: 700;
}

.slide1 .second .second-content span {
    font-style: italic;
}

.slide1 .second .second-content h1,
.slide3 p,
footer {
    color: #3c3d41;
}

.slide3 blockquote footer,
footer a {
    color: #41e0d8;
}

/* fonts colors end */

/* bacgrounds start */

.slide1,
.slide2,
.slide3 {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.slide1 {
    background-image: linear-gradient(120deg, #f9f9f9 37%, #41e0d8 37%);
}

.slide2 {
    background-image: linear-gradient(60deg, #262a34 65%, #f9f9f9 35%);
}

.slide3 {
    background-image: linear-gradient(60deg, #f9f9f9 37%, #41e0d8 37%);
}

.slide4 {
    background-color: #262a34;
}

.slide5 {
    background-color: #f9f9f9;
}

.vertical-center {
    top: 50vh;
    transform: translateY(-50%);
}

/* bacgrounds end */

/* slide1 start */

#navigation input, #navigation label {
    display: none;
}

#navigation ul li {
    display: inline-block;
}

#navigation ul li {
    padding: 15px 40px;
    float: right;
    margin-top: 30px;
}

#navigation ul li:hover,
#navigation label:hover {
    background-color: #262a34;
}

#navigation ul li:hover a {
    text-decoration: none;
}

.slide1 .second .phone {
    transform: translateY(25%);
}

.slide1 .second .second-content {
    padding-top: 15vh;
}

/* slide1 end */

/* slide2 start */

.myimage {
    width: 228px;
    height: 404px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.myimage-1 {
    background-image: url(../gallery/blueberry.jpg);
}

.myimage-2 {
    background-image: url(../gallery/cobblestone.jpg);
}

.myimage-3 {
    background-image: url(../gallery/grass.jpg);
}

.myimage-4 {
    background-image: url(../gallery/seemed.jpg);
}

/* slide2 end */

/* slide3 start */
.slide3 div .phone,
.slide3 div .reviews {
    display: inline-block
}

.slide3 .phone {
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    transform: translateY(25%) rotate(-30deg);
    height: 630px;
    width: 311px;;
}

.slide3 .reviews {
    height: 100%;
    width: 50%;
}

.slide3 h1 {
    padding-top: 20vh;
}

.slide3 blockquote {
    background-image: url(../img/baloon.png);
    background-repeat: no-repeat;
    width: 616px;
    height: 233px;
    padding: 10px 75px 15px 75px;
    margin: auto;
}

/* slide3 end */

/* slide4 start */

.slide4 form div {
    display: inline-block;
}

/* slide4 end */
